/// Images

img {
  display: block;
  max-width: 100%;
}
.img-logo {
  max-width: 294px; // Half width for retina
  background-size: 100%;
}
.img-party-emoji {
  max-width: 65px; // Half width for retina
  background-size: 100%;
}
