/// Lists

// Lists > Bullets & Numbers
.bullets,
.numbers {
  padding-left: $gutter*2;
}
.bullets > li,
.numbers > li {
  margin-top:    $gutter;
  margin-bottom: $gutter;
  text-align: left;
}
.bullets > li:first-of-type,
.numbers > li:first-of-type {
  padding-top: 0;
}

// Lists > Bullets
.bullets {
  list-style-type: disc;
}

// Lists > Numbers
.numbers {
  list-style-type: decimal;
}

// Lists > Horizontal
.hoz {
  list-style: none;
}
.hoz > li {
  display: inline-block;
  padding-left:  $gutter;
  padding-right: $gutter;
}
.hoz > li:first-of-type {
  @include respond-to(med) {
    padding-left: 0;
  }
}
.hoz > li:last-of-type {
  @include respond-to(med) {
    padding-right: 0;
  }
}

// Lists > Fancy Bullets
.fancy-bullets {
  margin: $gutter * 2;
  font-size: $font-size-5;
}
.fancy-bullets li {
  position: relative;
  padding: $gutter $gutter*2 $gutter $gutter*7;
  margin-bottom: $gutter;
  border: 1px solid $brand-color;
  border-radius: $default-border-radius;
  text-align: left;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background-image: url('~assets/images/bullet-#{$i}.svg');
      background-size: #{$gutter * 3} auto;
      background-repeat: no-repeat;
      background-position: #{$gutter * 2} center;
    }
  }
}

