/// Modifiers

// Modifiers > Borders

.is-rounded {
  border-radius: $default-border-radius;
}
.is-rounded-top {
  border-top-left-radius:  $default-border-radius;
  border-top-right-radius: $default-border-radius;
}
.is-rounded-bottom {
  border-bottom-left-radius:  $default-border-radius;
  border-bottom-right-radius: $default-border-radius;
}
.with-border {
  border: 1px solid $brand-dark-color;
}
.with-border-warn {
  border: 1px solid $warn-color;
}

// Modifiers > Glow

@keyframes animateGlow {
  0%{ background-position: 0% 50% }
  50%{ background-position: 100% 50% }
  100%{ background-position: 0% 50% }
}
.with-glow {
  position: relative;
  margin-bottom: $gutter*11.5; // NOTE: accounts for glow overflow
}
.with-glow:after {
  display: block;
  content: "";
  position: absolute;
  top: $gutter*2.5;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  filter: blur(40px); // NOTE: works only in newer browsers
  background: linear-gradient(270deg, $glow-start-color, $glow-end-color);
  background-size: 200% 200%;
  transform: translateZ(0); // NOTE: hardware accelerated, use GPU
  animation: animateGlow 10s ease infinite;

  @include is-ie {
    top:    -1px;
    right:  -1px;
    bottom: -1px;
    left:   -1px;
    width:  auto;
    height: auto;
    border-radius: $default-border-radius;
  }
}
.with-glow .glow-content {
  position: relative;
  z-index: 10;
  background: $brand-dark-color;
  border-radius: $default-border-radius;
}

// Modifiers > Fills

.fill-black {
  background: $black;
}
.fill-brand {
  background: $brand-color;
}
.fill-brand-dark {
  background: $brand-dark-color;
}
.fill-brand-darkest {
  background: $brand-darkest-color;
}
.fill-success {
  background: $success-color;
}
.fill-warn {
  background: $warn-color;
}
