// Setup: Variables & Mixins
//
// This file is injected into every Vue component and SCSS file

// Colors
$white:                       #FFF;
$black:                       #11062E;
$grey-light-color:            #D6D6D6;
$brand-light-color:           #826FA5;
$brand-color:                 #6C10EC; // purple
$brand-med-dark-color:        darken($brand-color, 10%); // darker medium purple
$brand-dark-color:            #23124D; // dark purple slightly lightend
$brand-darkest-color:         #1B0E3C; // dark purple
$brand-secondary-color:       #FF693B; // orange
$brand-secondary-light-color: #FFBA79; // light orange
$brand-tertiary-color:        #3F63A5; // blue purple
$brand-tertiary-light-color:  lighten($brand-tertiary-color, 6%); // lighter blue purple
$background-color:            $brand-darkest-color;
$text-color:                  $white;
$success-color:               #58BAAE; // green
$success-dark-color:          darken($success-color, 10%);
$warn-color:                  #FF2F0B; // red
$glow-start-color:            #5A00FF; // blue
$glow-end-color:              #FE734C; // orange

$facebook-color:          #405993;
$facebook-dark-color:     darken($facebook-color, 10%);
$twitter-color:           #499FEC;
$twitter-dark-color:      darken($twitter-color, 10%);

$text-gradient: linear-gradient(
  180deg,
  #ff9b5e 0%,
  #ef705a 17%,
  #df5a7a 50%,
  #de597c 59%,
  #a006f6 100%
);

// Typography
$base-text-align: left; // switch for rtl
$sans-serif-stack: "Open Sans", Helvetica, Arial, sans-serif;
$heading-stack: "Montserrat", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$bold-font-weight: bold;
$base-line-height: 1.6;

$font-size-1: 56px;
$font-size-2: 48px;
$font-size-3: 28px;
$font-size-4: 20px;
$font-size-5: 14px;
$font-size-6: 12px;

$m-font-size-1: 30px;
$m-font-size-2: 26px;
$m-font-size-4: $base-font-size;
$m-font-size-6: 10px;

// Layout
$gutter: 10px;
$site-max-width: 1040px;

// Decoration
$default-transition: all 0.3s ease-in-out;
$default-border-radius: 5px;

// Media Query Mixins
$fix-mqs: false !default;

@mixin respond-to($content) {
  @if $fix-mqs {
    @if $content == med {
      $content: 900px;
    } @else if $content == sml {
      $content: 500px;
    }
    @if $fix-mqs >= $content {
      @content;
    }
  }
  @else {
    @if $content == lrg {
      @media only screen and (min-width: 900px) { @content; }
    } @else if $content == med {
      @media only screen and (min-width: 500px) { @content; }
    } @else if $content == sml {
      @media only screen and (min-width: 0px) { @content; }
    } @else {
      @media only screen and (min-width: $content) { @content; }
    }
  }
}

@mixin respond-to-max($content) {
  @if $content == lrg {
    @media only screen and (max-width: 1159px) { @content; }
  } @else if $content == med {
    @media only screen and (max-width: 899px) { @content; }
  } @else if $content == sml {
    @media only screen and (max-width: 499px) { @content; }
  } @else {
    @media only screen and (max-width: $content) { @content; }
  }
}
