/// Buttons

// Button > Default
.btn {
  display: inline-block;
  padding: ($gutter + 2) $gutter*2 ($gutter + 3);
  overflow: hidden;
  background: $brand-secondary-color;
  background: linear-gradient(
    0deg,
    $brand-color                 0%,
    $brand-secondary-color       98%, // NOTE: magic number is 1px when button text is on one line
    $brand-secondary-light-color 98%,
    $brand-secondary-light-color 100%
  );
  border: none;
  border-radius: $default-border-radius;
  color: $white;
  cursor: pointer;
  font-family: $heading-stack;
  font-size: $base-font-size;
  font-weight: $bold-font-weight;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;

  @include respond-to(med) {
    padding-right: $gutter*4;
    padding-left:  $gutter*4;
  }
}
.btn:hover,
.btn:focus {
  background: $brand-secondary-light-color;
  background: linear-gradient(
    0deg,
    $brand-color                 0%,
    $brand-secondary-color       75%,
    $brand-secondary-color       98%, // NOTE: magic number is 1px when button text is on one line
    $brand-secondary-light-color 98%,
    $brand-secondary-light-color 100%
  );
  border: none;
  color: $white;
}
button.btn {
  vertical-align: top;
}
.btn::-moz-focus-inner {
  outline: none;
  border: 0;
}

// Buttons > Block
.btn.btn-block {
  display: block;
  width: 100%;
}

// Buttons > Disabled
.btn:disabled,
.btn[disabled],
.btn:disabled:hover,
.btn[disabled]:hover,
.btn:disabled:focus,
.btn[disabled]:focus {
  opacity: 0.5;
  cursor: default;
}

// Buttons > Large
.btn.btn-lrg {
  padding-top:    ($gutter*1.6 - 1);
  padding-bottom: ($gutter*1.6 + 1);
  font-size:  $base-font-size;

  @include respond-to(lrg) {
    font-size: $font-size-3;
  }
}

// Buttons > Dark
.btn.btn-dark {
  background: $brand-tertiary-color;
}
.btn.btn-dark:hover,
.btn.btn-dark:focus {
  background: $brand-tertiary-light-color;
}

// Buttons > Success
.btn.btn-success {
  background: $success-color;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  background: $success-dark-color;
}

// Buttons > Brand Med
.btn.btn-brand {
  background: $brand-color;
}
.btn.btn-brand:hover,
.btn.btn-brand:focus {
  background: $brand-med-dark-color;
}

// Buttons > Sharing
.btn.btn-twitter {
  background: $twitter-color;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  background: $twitter-dark-color;
}
.btn.btn-facebook {
  background: $facebook-color;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  background: $facebook-dark-color;
}
