// Page Header

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: $gutter 0 $gutter*2;
  z-index: 100;
  background: $brand-dark-color;
}
.page-header .img-logo {
  max-width: 170px;
}
.page-header:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  content: '';
  height: 50px;
  width: auto;
  background: transparent url('~assets/images/header-bg.png') bottom center no-repeat;
  background-size: auto 50px;
}
