/// Scroller

// Scroller > Arrows
.arrow {
  display: flex;
  flex: 0 0 30px;
  height:   30px;
  width:    30px;
  background: $brand-dark-color;
  border-radius: 100%;
  cursor: pointer;

  @include respond-to(med) {
    flex: 0 0 50px;
    height:   50px;
    width:    50px;
  }
}
.arrow:hover,
.arrow:focus {
  background: $brand-color;
}
.arrow img {
  width: 15px;
  height: auto;

  @include respond-to(med) {
    width: 25px;
  }
}
